body {
  margin:0;
 
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  background:url('/img/slytherin-background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.titleContainer {
  text-align: center;
  color: white;
  font-size: 3em;
}

.buttonContainer {
  text-align: center;
  size: 2em;
}

.startButton {
 text-decoration: none; 
}